ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   position: relative;
    
    overflow-x: hidden;
    background-color: #333;
  }
  .navup{
    background-color: #333;overflow: hidden;
    height: 0px;
    transition: 0.5s;
  }

  .navdown{
    background-color: #333;overflow: hidden;
    height: 330px;
    transition: 0.5s;
    
  }

  .right{
    display: block;
    color: white;
    text-align: center;
    border: 30px;
   
    
  
    
    text-decoration: none;

  }
  

  li a {
    display: block;
    color: white;
    text-align: center;
    border: 30px;
    border-color: rgb(138, 48, 48);
    padding: 14px 16px;
  
    
    text-decoration: none;
  }

  
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #963610;
  }

  .login{
    background-color: #11571c;
  }

  @media only screen and (min-width: 768px) {
        .mobile{
            display: none;
        }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        
        background-color: #333;
      }
      
      li {
        float: left;
      }

      li .about{
        float:right;
    
      }

      .right{
        float:right;
    
      }
      
      li a {
        
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #96361050;
      }



      .navup{
        background-color: blue;overflow: hidden;
        height: auto;
        transition: 0.5s;
      }
    
      .navdown{
        background-color: blue;overflow: hidden;
        height: auto;
        
      }
  }

 